footer { background: #eee; padding: 10px 0; margin: 50px 0 0; } 
tr.storno td { text-decoration: line-through; color: #666; }
.table-lined td { border-bottom: 1px solid #ddd!important; }
.table-lined th { border-bottom: 2px solid #ccc!important; border-top: 1px solid #ccc!important; }

.navbar-brand>img { display: inline-block; opacity: 0.6; margin-right: 5px; vertical-align: text-top; }
.navbar-brand:hover>img {opacity:1;}
.navbar-typ-admin {background: #ffdede; border-color: #ddbbbb;}
.navbar-typ-admin * {color: #664444!important;}

.messageBar { position: fixed; top: 0; left: 0; right: 0; padding: 10px; background: #FDD835; color: white; font-size: 12pt; z-index: 2000;
    }
.progressBar { position: fixed; top: 0; left: 0; width: 30%; height: 5px; background: #0091EA; z-index: 101;
      animation: slide 5s forwards;
}
@keyframes slide {
    0% { width: 30%; }
    30% { width: 50%; }
    100% { width: 60%; }
}
.messageBar.error { background: #E53935;  }
.messageBar.success { background: #43a047;  }
.messageBar.warning { background: #d09d47;  }

span.ctr { background: #f00; color: white; border-radius: 1em; padding: 3px 7px; font-size: 140%; position: absolute; margin: 10px;   }
.col-comment { word-break: break-all; }
@media screen and (max-width: 700px) {
  table.ledgertable tr { display: block; padding: 10px; border-bottom: 1px solid #bbb; }
  table.ledgertable td { display: inline-block; padding: 0 !important; margin-right: 10px; font-weight: bold; border: 0!important; }
  table.ledgertable td.col-comment { display: block; font-weight: normal; margin-right: 0; }

}
